#main{
    width: 600px;
    height: 400px;
    
} 
#main1{
    width: 600px;
    height: 400px;
    
}
#main2{
    width: 600px;
    height: 400px;
}
#main3{
    width: 600px;
    height: 400px;
}
#main4{
    width: 600px;
    height: 400px;
}
#main5{
    width: 600px;
    height: 400px;
}
#main6{
    width: 600px;
    height: 400px;
}
#main7{
    width: 600px;
    height: 400px;
}
#main8{
    width: 600px;
    height: 400px;
}
#main9{
    width: 600px;
    height: 400px;
}
.name-title{
    font-size:20px ;
    color: #000000;
}
.name-title1{
    font-size:20px ;
    color: #000000;
}
.name-title2{
    font-size:20px ;
    color: #000000;
}
.name-title3{
    font-size:20px ;
    color: #000000;
}
.name-title4{
    font-size:20px ;
    color: #000000;
}
.name-title5{
    font-size:20px ;
    color: #000000;
}
.name-title6{
    font-size:20px ;
    color: #000000;
}
.name-title7{
    font-size:20px ;
    color: #000000;
}
.name-title8{
    font-size:20px ;
    color: #000000;
}